{% extends 'boiler.html' %}
{% block title %}Guess The Movie{% endblock %}

{% block body %}
<div class="container-fluid bg-danger" id="container">
    <div class="row row-content">
        <div class="col-12 col-md-12 text-center">
            <h2><u>GAME BEGINS</u></h2>
            <small><b>--Play till you are tired--</b></small>
        </div>
        <div class="col-12 col-md-12 mt-2">
          <span>
            <h4 class="float-left">Chances Left: <span id="chance"></span></h4>
          </span>
          <span>
            <h4 class="float-right">Points: <span id="points"></span></h4>
          </span>
        </div>
        <div class="col-12 col-md-12 text-center bg-warning" style="height: 200px;">
          <div class="row row-content">
            <div class="col-12">
              <div class="row">
                <div class="col-12 mb-4">
                  <h2><b>Hollywood</b></h2>
                </div>
                <div class="col-12">
                  <h3 id="ques"></h3>
                </div>
              </div>
            </div>
            <div class="col-12" id="next_btn">
            </div>

          </div>
            
        </div>
        <div class="col-12 col-md-12 text-center mt-5">
                <div class="row">
                  <div class="col-12  col-md-4 mt-2">
                    <input type="text" class="form-control" id="guess" name="guess" placeholder="Guess The Movie" 
                    autocomplete="off">
                  </div>
                  <div class="col-12 col-md-2 mt-2">
                    <button onclick="checkMovie()" type="submit" class="btn btn-primary"><b>Submit</b></button>
                  </div>
                <div class="col-12 col-md-4 mt-2">
                  <input type="text" class="form-control" id="letter" name="letter" placeholder="Guess The Letter"
                  autocomplete="off">
                </div>
                <div class="col-12 col-md-2 mt-2">
                  <button onclick="checkLetter()" type="submit" class="btn btn-primary"><b>Submit</b></button>
                </div>
              </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script>
  var height = $(window).height();

  $("#container").height(height+"px");
  function make_ques(movie) {
    temp=""
    for (i=0; i < movie.length; i++) {
      if(movie[i]==" ")
            temp+=" "
        else
            temp+="*"
    }       
    return temp
  }

  function mod_ques(ch,ques,movie) {
    temp=""
    for(i=0; i < movie.length; i++) {
      if (ch==movie[i])
            temp+=ch
        else    
            temp+=ques[i]
    }        
    return temp
  }
  
  var mlist = {{ movie_list|safe }};

  var points = 0;
  var chance = 5;

  var picked_movie = mlist[Math.floor(Math.random()*mlist.length)];
  picked_movie = picked_movie['movie_name'];
  mlist.pop(picked_movie);
  var ques = make_ques(picked_movie);
  document.getElementById("ques").innerHTML = ques;
  document.getElementById("chance").innerHTML = chance;
  document.getElementById("points").innerHTML = points;
  
  function nextMovie() {
    chance = 10;
    document.getElementById("nextMovie-btn").remove();
    document.getElementById("exitGame-btn").remove();
    document.getElementById("stored_point").remove();
    picked_movie = mlist[Math.floor(Math.random()*mlist.length)];
    picked_movie = picked_movie['movie_name'];
    ques = make_ques(picked_movie);
    document.getElementById("ques").innerHTML = ques;
    document.getElementById("chance").innerHTML = chance;
    document.getElementById("points").innerHTML = points;
  }

  function playAgain() {
    points = 0;
    chance = 10;
    document.getElementById("playAgain-btn").remove();
    picked_movie = mlist[Math.floor(Math.random()*mlist.length)];
    picked_movie = picked_movie['movie_name'];
    ques = make_ques(picked_movie);
    document.getElementById("ques").innerHTML = ques;
    document.getElementById("chance").innerHTML = chance;
    document.getElementById("points").innerHTML = points;
  }

  function checkMovie() {
    var guess = document.getElementById("guess").value;
    guess = guess.toUpperCase();

    if(guess == picked_movie) {
      document.getElementById("guess").value = "";
      ques = "Correct Answer!";
      document.getElementById("ques").innerHTML = ques;
      mystr =  `<button type="submit" class="btn btn-success" id="nextMovie-btn" onclick="nextMovie()"><b>Next</b></button>
                  <form  method="post" action="{% url 'leaderboards' %}"> {% csrf_token %}
                    <input type="hidden" name="stored_point" id="stored_point">
                    <button type="submit" class="btn btn-success mt-2" id="exitGame-btn"><b>Exit Game</b></button>
                  </form>`;
        $('#next_btn').append(mystr);
        points += 1;
        document.getElementById("points").innerHTML = points;
        document.getElementById('stored_point').value = points;
    }
    else {
      chance -= 1;
      if(chance == 0){
        ques = "Better luck next time";
        document.getElementById("ques").innerHTML = ques;
        mystr = `<button type="submit" class="btn btn-danger" id="playAgain-btn" onclick="playAgain()"><b>Play Again</b></button>
                  <form  method="post" action="{% url 'leaderboards' %}"> {% csrf_token %}
                    <input type="hidden" name="stored_point" id="stored_point">
                    <button type="submit" class="btn btn-success mt-2" id="exitGame-btn"><b>Exit Game</b></button>
                  </form>`;
        $('#next_btn').append(mystr);
      }
      document.getElementById("chance").innerHTML = chance;
      document.getElementById("guess").value = "";
      document.getElementById('stored_point').value = points;
    }
  }

  function checkLetter() {
    var ch = document.getElementById("letter").value;
    ch = ch.toUpperCase();
    
    if(picked_movie.includes(ch)) {
      ques = mod_ques(ch, ques, picked_movie)
      if (ques.includes("*")) {
        document.getElementById("ques").innerHTML = ques;
        document.getElementById("letter").value = "";
      }
      else {
        ques = "Correct Answer!";
        document.getElementById("ques").innerHTML = ques;
        document.getElementById("letter").value = "";
        mystr =  `<button type="submit" class="btn btn-success" id="nextMovie-btn" onclick="nextMovie()"><b>Next</b></button>
                  <form  method="post" action="{% url 'leaderboards' %}"> {% csrf_token %}
                    <input type="hidden" name="stored_point" id="stored_point">
                    <button type="submit" class="btn btn-success mt-2" id="exitGame-btn"><b>Exit Game</b></button>
                  </form>`;
        $('#next_btn').append(mystr);
        points += 1;
        document.getElementById("points").innerHTML = points;
        document.getElementById('stored_point').value = points;
      }
    }
    else {
      chance -= 1;
      if(chance == 0){
        ques = "Better luck next time";
        document.getElementById("ques").innerHTML = ques;
        mystr = `<button type="submit" class="btn btn-danger" id="playAgain-btn" onclick="playAgain()"><b>Play Again</b></button>
                  <form  method="post" action="{% url 'leaderboards' %}"> {% csrf_token %}
                    <input type="hidden" name="stored_point" id="stored_point">
                    <button type="submit" class="btn btn-success mt-2" id="exitGame-btn"><b>Exit Game</b></button>
                  </form>`;
        $('#next_btn').append(mystr);
      }
      document.getElementById("chance").innerHTML = chance;
      document.getElementById("letter").value = "";
      document.getElementById('stored_point').value = points;
    }   
  }
</script>
{% endblock %}